*{
	margin:0 , padding: 0, box-sizing: border-box; 
	font-family: 'Josefin Sans', sans-serif;
}

html,body{
background-image: url('../images/login.jpeg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 320px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(255,255,255,0.4) !important;
}

.card-header h3{
color: white;
}

.login_btn{
color: black;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: blue;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}